 <div class="leftside-menu">

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="assets/images/dis.png" alt="" height="110" width="200">
                </span>
                <span class="logo-sm">
                    <img src="assets/images/dis.png" alt="" height="50" width="70">
                </span>
            </a>



            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard">
                            <i class="uil-home-alt"></i>
                            <span> Dashboards </span>
                        </a>

                    </li>
                      <li class="side-nav-item">
                        <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/recrutement">
                          <i class="uil-briefcase-alt"></i>  
                            <span> recrutement </span>
                        </a>

                    </li>

                     <li class="side-nav-item">
                        <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/attrition">
                            <i class="uil-exit"></i>  
                            <span> attrition </span>
                        </a>

                    </li>

                </ul>

            </div>
            <!-- Sidebar -left -->

        </div>